body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #74ABE2, #5563DE);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

button {
  width: 95%;
  padding: 10px;
  background: #5563DE;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #4051c4;
}

p {
  margin-top: 15px;
}

a {
  color: #5563DE;
  text-decoration: none;
}

.logout {
  display: inline-block;
  margin-top: 20px;
  background: crimson;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
